
  body {
    position: relative;
    padding-top: 100px;
  }
  
  body * {
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  }
  
  p {
    font-size: 18px;
  }

  .btn-primary {
    border-radius: 25px;
    background: #885df1; 
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 20px;
    border: none;
    border: 1px solid #885df1;
    transition: background 200ms ease, border-color 200ms ease;
  }
  
  .btn-primary:hover {
    border-color: #5e41a7;
    background: #5e41a7;
  }
  
  .btn-icon i {
    font-size: 22px;
    padding-right: 5px;
  }


  a {
    color: #272044;
    text-decoration:none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .center {
    text-align: center;
    margin: 0 auto;
  }
  
  .block {
    display: block;
  }
  
  .content {
    max-width: 1160px;
    margin: 0 auto;
  }
  
  .shadow {
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  }
  
  .content-inner {
    max-width: 960px;
    margin: 0 auto;
  }
  
  header {
    background: #fff;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    height: 118px;
    transition: height 200ms ease-in-out;
  }
  
  .header-inner {
    margin: 35px 0;
    position: relative;
    transition: margin 200ms ease-in-out;
    text-decoration: none;
  }
  
  header img {
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
  }
  
  header ul {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
  }
  
  header li {
    display: inline-block;
  }
  
  header li a {
    font-size: 14px;
    line-height: 48px;
    font-weight: 900;
    padding: 0 12px;
    color: #272044;
    text-decoration: none;
  }
  
  header .ctas {
    position: absolute;
    right: 0;
    top: 5px;
  }
  

  .section--primary {
    margin: 120px auto 40px;
  }
  

  .section--primary h1{
    font-family: 'PT Mono', monospace;
    font-weight: 800;
    font-size: 42px;
    color: #272044;
    line-height: 42px;
    padding: 32px;
  }

  .section--secondary {
    margin: 0 auto;
  }
  
  .section-header h2 {
    font-family: 'PT Mono', monospace;
    font-size: 52px;
    line-height: 1.25;
    color: #272044;
    font-weight: 500;
  }
  
  .section-header h3 {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    color: #885df1;
    max-width: 750px;
    text-align: center;
    font-weight: 600;
    margin: 15px auto;
  }
  
  .section-header a {
    color: #885df1;
  }
  
  .section-header p {
    margin: 40px auto;
    color: #272044;
  }
  
  .mission__image {
    margin-top: 40px;
  }
  
  .mission__list-items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mission__list-item {
    margin: 0;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 200ms ease;
  }
  
  .mission__list-item h3 {
    font-family: 'PT Mono', monospace;
    margin: 0 0 20px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    color: #885df1;
  } */
  
  .mission__list-item p {
    margin: 0;
  }


  .program-day {
    margin-top: 30px;
  }
  
  .program-day small {
    color: #272044;
    display: block;
    line-height: 1.5;
    font-size: 14px;
    opacity: 0.75;
  }
  
  .program-day h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 8px 0;
    color: #272044;
  }
  
  .program-day h4 {
    color: #885df1;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
  
  .program-day ul {
    margin: 20px 0 0;
    padding: 0;
  }
  
  .program-day li {
    list-style: none;
  }
  
  .program-day li::before {
    color: #885df1;
    content: "\2022";
    font-size: 18px;
    font-weight: 900;
    padding-right: 10px;
    position: relative;
    top: 0em;
  }
  
  .section-separator {
    margin: 10px 0;
    width: 100%;
    height: 70px;
  }
  
  .teacher {
    padding: 24px 0;
    position: relative;
  }
  
  .teacher h3 {
    font-size: 30px;
    font-weight: 500;
    color: #272044;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  .teacher-description {
    padding: 0 0 0 24x;
  }
  
  .teacher-photo {
    margin-bottom: 30px;
  }
  
  
  .teacher img { 
    margin: 0;
    top: 24px;
    left: 24px; 
    width: auto; 
    height: 200px;
    
  }

  .teacher h4 {
    color: #885DF1;
    font-weight: 900;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }


  .teacher--middle img {
    right: 24px;
    left: 24px;
  } 
  
  

  .teacher--middle .teacher-description {
    padding: 0 24px 0 0;
  }

  footer {
    padding: 40px;
    font-family: 'Tahoma';
    font-size: 10px;
  }